.App {
  text-align: center;
}

.App-body {
  background-color: #212529;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
  color: white; 
}

.ag-picker-field {
  display: none !important;
}

.ag-paging-row-summary-panel {
  display: none !important;
}